body {
    font-family: American Typewriter;
    color: #666;
    margin: 0;
    font-weight: 325;
}

strong {
    font-weight: 400;
}

.page_title {
    background-color: #B7D1DA;
    padding: 2% 5%;
}

.page_title p {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

.page_content {
    margin: 2% 25%;
    font-size: 1.1rem;
    font-family: Open Sans;
}

.footer_content {
    padding: 0.5% 10%;
    font-size: 1.1rem;
    color: #111;
    background-color: #F9F9F9;
    position: absolute;
    bottom: 0;
}